body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    overflow-x: hidden;
}
footer{
    padding: 50px 0;
    background-color: #0B0223;
    text-align: center;
}
a{
    text-decoration: none;
    color: #0B0223;
}
h1,h2,h3,p{
    margin: 0px auto;
}
h1,h2{
    color: #0B0223;
}
h1,h2{
    color: #0B0223;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
li{
    font-size: 17px;
}
main img{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .flex{
    display: flex;
    align-items: center;
    gap: 12px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.space-between{
    justify-content: space-between;
}
header{
    padding: 7px;
    border-bottom: 1px solid #f5f5f5;
}
.bg{
    background-color: #E7E6E9;
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
}
section.banner{
    background-image: url("images/Group-14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.liner-text{

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-game .liner-text{
    font-size: 40px;
}
.text-area{
    min-width: 50%;
}
.banner li{
    display: flex;
    align-items: center;
    margin: 10px 0;
    list-style: none;
    gap: 10px;
}
.banner li:before{
    content: url(icons/small-play.svg);
    width: 15px;
    height: 15px;
}
.btn{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 17px;
    border-radius: 50px;
    background-color: #FF42A5;
}
.btn-2{
    background-color: #4EC5F7;
}
.button{
    justify-content: flex-start;
    gap: 15px;
    margin-top: 30px;
}
.card-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 13px;
}
.card {
    width: 100%;
    height: 400px;
    position: relative;
    /* overflow: hidden; */
    display: inline-block;
    border-radius: 10px;
    border: 3px solid #FFf;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover {
    border: 3px solid #FF42A5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #FF42A5;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.card-content {
    padding: 10px;
    text-align: left;
}

.card-description {
    color: #333;
    font-size: 18px;
}
.img-2{
    position: absolute;
    max-width: 300px;
    bottom:-100px;
    left: -100px;
}
.left{
    text-align: right;
    max-width: 35%;
}
.left h1{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 35px;
}
.flex-card{
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.flex-card:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
}
.flex-card:hover p{
    color: #FF42A5;
}
.flex-card img{
width: 37px;
}
.small-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.footer-flex , .footer-flex-2{
    display: flex;
    gap: 18px;
    justify-content: center;
    color: #fff;
}
.footer-flex a , .footer-flex-2 a{
    color: #fff;
}
@media screen and (max-width: 767px) {
    .footer-flex{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-flex-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header .flex{
        flex-direction: column;
}
    .header .bg{
        flex-direction: row;
}
.text-area{
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.banner .flex.button{
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    
}
.banner .flex{
    flex-direction: column-reverse;
}
.banner .flex.game{
    flex-direction: column;
}

    .banner li{
        justify-content: center;
    }
    section.banner{
        background-size: cover;
    }
    .card-area
    {
        grid-template-columns: 1fr;
    }
    .card{
        margin: 0px;
    }
    .left{
        text-align: center;
        max-width: 100%;
    }
    .img-2{
        max-width: 30%;
        bottom: -60px;
        left: 40px;
    }
    .img-1{
        max-width: 55%;
        margin: auto;
        display: block;
    }
    .small-card{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6px;
    }
    .small-card p{
        font-size: 12px;
    }
    .flex-card{
        padding: 3px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .text-area{
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }
    .banner .flex.button{
        justify-content: center;
        gap: 15px;
        flex-direction: row;
        
    }
   .banner .flex{
        flex-direction: column;
    }
    .banner li{
        justify-content: center;
    }
    section.banner{
        background-size: cover;
    }
    .card-area
    {
        grid-template-columns: 1fr 1fr;
    }
    .left{
        text-align: center;
        max-width: 100%;
    }
    .img-2{
        max-width: 30%;
        bottom: -60px;
        left: 40px;
    }
    .img-1{
        max-width: 55%;
        margin: auto;
        display: block;
    }
}