body{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}
a{
    text-decoration: none;
    color: #0B0223;
}
h1,h2,h3,p{
    margin: 0px auto;
}
h1,h2{
    color: #0B0223;
}
h1{
    color: #0B0223;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
li{
    font-size: 17px;
}
main img{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .flex{
    display: flex;
    align-items: center;
    gap: 12px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.space-between{
    justify-content: space-between;
}
header{
    padding: 7px;
    border-bottom: 1px solid #f5f5f5;
}
.bg{
    background-color: #E7E6E9;
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
}
section.banner{
    background-image: url("images/Group-14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.liner-text{

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text-area{
    min-width: 50%;
}
.banner li{
    display: flex;
    align-items: center;
    margin: 10px 0;
    list-style: none;
    gap: 10px;
}
.banner li:before{
    content: url(icons/small-play.svg);
    width: 15px;
    height: 15px;
}
.btn{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 17px;
    border-radius: 50px;
    background-color: #FF42A5;
}
.btn-2{
    background-color: #4EC5F7;
}
.button{
    justify-content: flex-start;
    gap: 15px;
    margin-top: 30px;
}
@media screen and (max-width: 767px) {
    .header .flex{
        flex-direction: column;
}
    .header .bg{
        flex-direction: row;
}
.text-area{
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.banner .flex.button{
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    
}
.banner .flex{
    flex-direction: column-reverse;
}

    .banner li{
        justify-content: center;
    }
    section.banner{
        background-size: cover;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .text-area{
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }
    .banner .flex.button{
        justify-content: center;
        gap: 15px;
        flex-direction: row;
        
    }
   .banner .flex{
        flex-direction: column;
    }
    .banner li{
        justify-content: center;
    }
    section.banner{
        background-size: cover;
    }
}